@charset "UTF-8";
body {
  /*logo*/ }
  body .navbar {
    background: url(../image/background.png);
    background-size: cover;
    border: none;
    margin-top: -1px; }
  body .navbar-brand img {
    margin-top: -4px;
    max-height: 28px; }
  body .dropdown > a,
  body .dropdown a:hover,
  body .dropdown.open > a,
  body .dropdown a:visited {
    background: #9c1e2e; }
  body .dropdown-toggle {
    color: #fff !important;
    margin: 1px 0;
    /*背景透明*/
    background: transparent !important;
    box-shadow: none !important; }
  body .carousel-indicators li {
    background: #9dc819 none repeat scroll 0 0;
    opacity: 1; }
    body .carousel-indicators li .active {
      background: #390b1f none repeat scroll 0 0; }
  body .front-page-header {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: left; }
    body .front-page-header a {
      font-weight: 500;
      color: #249126; }
      body .front-page-header a:hover {
        color: #23527c; }
  body .product-category-link {
    color: #838383;
    text-align: center; }
  body .front-page-product-set-image-container {
    position: relative; }
  body .chinese-name h2 {
    display: inline;
    color: #838383;
    font-size: 14px; }
  body table td {
    border-right: 1px solid #777777;
    font-size: 11px;
    margin: 0 auto;
    padding: 0;
    width: 10%; }
  body table .last {
    border: none; }
  body table .first span {
    margin-left: 10px; }
  body .icp {
    margin-top: 10px;
    padding-top: 3px;
    font-size: 9px;
    height: 20px; }
  body .weibo:hover {
    color: #23527c !important; }

@media only screen and (max-width: 767px) {
  body .navbar-brand {
    margin-top: -10px;
    width: 100%; }
    body .navbar-brand span {
      color: #fff;
      display: inline-block !important; }
    body .navbar-brand img {
      display: inline-block; }
  body .dropdown-menu {
    background: url(../image/background.png);
    background-size: cover; }
    body .dropdown-menu a {
      color: #fff !important; }
  body .item img {
    display: inline-block; }
  .chinese-name h2,
  .chinese-name span {
    display: block; } }
