@import './layout';
@import './variable';
@import './_css3-tree.scss';
body{
    margin:0px;
    padding: 0px;
    .alert{
        display: none;
        position: absolute;
        top: 0;
        text-align: center; 
        width: 100%;
    }
 
    // 登陆界面
.login.page{
    @extend .full-screen;
    background-image:$loginBackgroundImage;
      -webkit-transition: opacity 2s linear;
  -moz-transition: opacity 2s linear;
  -o-transition: opacity 2s linear;
  transition: opacity 2s linear;
    background-size: cover;
    .login-content{
        @extend .vertical-center;
        opacity: 1;
    // 登陆表单
    .login-form{
        @extend .level-center;
        max-width: 250px;
        margin-top:160px;
        // 登陆logo
        .logo{
            display: inline-block;
            width: 50%;
            margin-left: 25%;   
            
        }
   
   // 输入框
   .input-group{
       margin-bottom: 15px;
   }

   .login-group{
       @extend .level-center;
       text-align: center;
   }
   
   
    }
    }
}
 
 
.home.page{
    @extend .full-screen;
    background: blue;
}


// 所有页面默认隐藏
.page{
display: none;
}

}

