@charset "UTF-8";
.full-screen, body .login.page, body .home.page {
  display: table;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden; }

.vertical-center, body .login.page .login-content {
  display: table-cell;
  vertical-align: middle; }

.level-center, body .login.page .login-content .login-form, body .login.page .login-content .login-form .login-group {
  margin-left: auto;
  margin-right: auto; }

.trunk, .trunk div {
  background: mediumspringgreen;
  /*border-radius:$w;*/
  width: 100px;
  height: 10px;
  position: absolute;
  top: 300px;
  margin-left: -10px;
  -webkit-animation-name: rot;
  animation-name: rot;
  -webkit-animation-duration: 2.02s;
  animation-duration: 2.02s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-transform-origin: 5px 5px;
  -ms-transform-origin: 5px 5px;
  transform-origin: 5px 5px;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

.trunk.trunk, .trunk div.trunk {
  bottom: 0;
  left: 50%;
  -webkit-animation-name: rot-root;
  animation-name: rot-root;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s; }

.trunk > div, .trunk div > div {
  /*opacity:0.9;*/
  top: 0;
  left: 100px;
  -webkit-animation-duration: calc(inherit / 2);
  animation-duration: calc(inherit / 2);
  /* don't works 🙁 */ }

.trunk > div:nth-child(2), .trunk div > div:nth-child(2) {
  /*animation-duration:15s;*/
  -webkit-animation-name: rot-inv;
  animation-name: rot-inv;
  -webkit-animation-duration: 1.7s;
  animation-duration: 1.7s; }

@-webkit-keyframes rot {
  from {
    -webkit-transform: rotate(15deg) scale(0.72);
    transform: rotate(15deg) scale(0.72); }
  to {
    -webkit-transform: rotate(45deg) scale(0.72);
    transform: rotate(45deg) scale(0.72); } }

@keyframes rot {
  from {
    -webkit-transform: rotate(15deg) scale(0.72);
    transform: rotate(15deg) scale(0.72); }
  to {
    -webkit-transform: rotate(45deg) scale(0.72);
    transform: rotate(45deg) scale(0.72); } }

@-webkit-keyframes rot-inv {
  from {
    -webkit-transform: rotate(-45deg) scale(0.72);
    transform: rotate(-45deg) scale(0.72); }
  to {
    -webkit-transform: rotate(-15deg) scale(0.72);
    transform: rotate(-15deg) scale(0.72); } }

@keyframes rot-inv {
  from {
    -webkit-transform: rotate(-45deg) scale(0.72);
    transform: rotate(-45deg) scale(0.72); }
  to {
    -webkit-transform: rotate(-15deg) scale(0.72);
    transform: rotate(-15deg) scale(0.72); } }

@-webkit-keyframes rot-root {
  from {
    -webkit-transform: rotate(-95deg);
    transform: rotate(-95deg); }
  to {
    -webkit-transform: rotate(-85deg);
    transform: rotate(-85deg); } }

@keyframes rot-root {
  from {
    -webkit-transform: rotate(-95deg);
    transform: rotate(-95deg); }
  to {
    -webkit-transform: rotate(-85deg);
    transform: rotate(-85deg); } }

body {
  margin: 0px;
  padding: 0px; }
  body .alert {
    display: none;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%; }
  body .login.page {
    background-image: url(//blackrockdigital.github.io/startbootstrap-stylish-portfolio/img/bg.jpg);
    -webkit-transition: opacity 2s linear;
    -moz-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    transition: opacity 2s linear;
    background-size: cover; }
    body .login.page .login-content {
      opacity: 1; }
      body .login.page .login-content .login-form {
        max-width: 250px;
        margin-top: 160px; }
        body .login.page .login-content .login-form .logo {
          display: inline-block;
          width: 50%;
          margin-left: 25%; }
        body .login.page .login-content .login-form .input-group {
          margin-bottom: 15px; }
        body .login.page .login-content .login-form .login-group {
          text-align: center; }
  body .home.page {
    background: blue; }
  body .page {
    display: none; }
