


@import '_css3-tree.scss';
$backgroundImage:url(//blackrockdigital.github.io/startbootstrap-stylish-portfolio/img/bg.jpg);


body{
    /*登录界面样式*/
    .page.login{
        display:table;
        width: 100%;
        height: 100vh;
        background:$backgroundImage;
        background-size:cover;



        //垂直居中
        .login-content{
          display: table-cell;
          vertical-align: middle;
          //登录表单屏幕正中间，垂直居中，水平居中
          .login-from{
              width: 250px;
             margin-right: auto;
              margin-left: auto;
          }
      }
    }
}